RecipeShare/RecipeShare/Service References/RecipeSearchServiceReference/RecipeSearchServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecipeSearchServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51369/RecipeSearchServiceImpl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51369/RecipeSearchServiceImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51369/RecipeSearchServiceImpl.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecipeSearchService_GetRecipeNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeNames" />
  </wsdl:message>
  <wsdl:message name="IRecipeSearchService_GetRecipeNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeSearchService_GetIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredients" />
  </wsdl:message>
  <wsdl:message name="IRecipeSearchService_GetIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecipeSearchService">
    <wsdl:operation name="GetRecipeNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeSearchService/GetRecipeNames" message="tns:IRecipeSearchService_GetRecipeNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeSearchService/GetRecipeNamesResponse" message="tns:IRecipeSearchService_GetRecipeNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeSearchService/GetIngredients" message="tns:IRecipeSearchService_GetIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeSearchService/GetIngredientsResponse" message="tns:IRecipeSearchService_GetIngredients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecipeSearchService" type="tns:IRecipeSearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipeNames">
      <soap:operation soapAction="http://tempuri.org/IRecipeSearchService/GetRecipeNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <soap:operation soapAction="http://tempuri.org/IRecipeSearchService/GetIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipeSearchServiceImpl">
    <wsdl:port name="BasicHttpBinding_IRecipeSearchService" binding="tns:BasicHttpBinding_IRecipeSearchService">
      <soap:address location="http://localhost:51369/RecipeSearchServiceImpl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>